body{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
#container{
    height: 70vh;
    width:70vw;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Orbitron', sans-serif;
}
.row{
    height:20%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.calcul{
    width:20%;
    background-color:gray;
    color:white;
    text-shadow: 2px 0 black, 2px 0 black;
    box-sizing:border-box;
    border: 0.5px solid black;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-size:1.5em;
}
.calcul:hover{
    cursor:pointer;
}
.calcul:active{
    width:20%;
    color:white;
    text-shadow: 2px 0 black, 2px 0 black;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-size:1.5em;
    border: 2px solid black;
    background-color: #6E6E6E;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#display{
    width: 100% !important;
    background-color: lightcyan;
    outline:none;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    color: #2E2E2E;
    font-family:'Orbitron', sans-serif;
    text-align:center;
    font-size:1.5em;
    letter-spacing:3px;
}

#clear{
    width: 40% !important;
}
#equal{
    width: 40% !important;
}